@media screen and (max-width:600px){
    .Navbar {
        padding: 0.5rem;
    }

    .LogoTitle {
        width: 5rem;
        height: 5rem;
    }

    .outerLogo {
        width: 1rem;
        height: 1rem;
    }

    .innerLogo {
        width: 1rem;
        height: 1rem;
        top: .4rem;
        left: 0.5rem;
    }

    .LogoTitle h1 {
        font-size: 0.8rem;
    }

    .NavElements {
        display: none;
    }

    .NavIcons {
        margin-left: -1rem;
        gap: 1rem;
        width: 9rem;
        font-size: 0.9rem;
    }

    .header {
        padding: 1rem;
        font-size: 0.7rem;
    }

    .header div{
        width: 3rem;
        margin: 0 0.3rem;
    }

    .HeroSection {
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .HeroSectionImageContainer {
        width: 15rem;
        height: 17rem;
    }

    .HeroSectionText {
        width: 100%;
    }

    .HeroSectionText h3 {
        font-size: 1.2rem;
    }

    .HeroSectionText p {
        width: 100%;
        font-size: 0.8rem;
    }

    .featured-products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0.5rem 1.5rem;

    }

    .product-card {
        width: 40%;
        height: fit-content;
    }

    .FooterUpperContainer {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .FooterMediaInfo {
        order: 1;
      }
    
      .FooterContactSection {
        order: 2;
      }
    
      .FooterPaymentMethod {
        order: 3;
      }

      .FooterMediaInfo {
        gap: .2rem;
        width: 100%;
    }

    .FooterMedia {
        padding: .5rem;
    }

    .FooterMedia h3 {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .FooterMedia ul {
        font-size: 0.8rem;
    }

    .CartTitle {
        font-size: 0.8rem;
        margin: 1rem;
    }

    .Discount {
        text-align: left;
        margin: 1rem;
    }

    .PeopleBuy {
        font-size: .8rem;
        margin-left: 1rem;
    }
}
