@media screen and (max-width:600px){
    .Navbar {
        padding: 1rem 1.5rem;
    }

    .LogoTitle {
        width: 5rem;
        height: 3rem;
    }

    .outerLogo {
        width: 1rem;
        height: 1rem;
    }

    .innerLogo {
        width: 1rem;
        height: 1rem;
        top: .4rem;
        left: 0.5rem;
    }

    .LogoTitle h1 {
        font-size: 0.8rem;
    }

    .NavElements {
        display: none;
    }

    .NavIcons {
        gap: 1rem;
        width: 9rem;
        font-size: 0.9rem;
    }

    .header {
        padding: 1rem;
        font-size: 0.7rem;
        width: 100%;
        margin-right: 1rem;
    }

    .header div{
        width: 12rem;
        margin: 0 0.3rem;
    }

    .search-bar input {
        width: 10rem;
    }

    .HeroSection {
        width:100%;
        margin: 0;
        padding: 0.2rem;
        display: flex;
        flex-direction: column;
    }

    .HeroSectionImageContainer{
        order: 1;
        padding: 2rem 0;
        align-items: center;
    }

    .HeroSectionBackground,
    .HeroSectionImageContainer img {
        width: 10rem;
        height:8rem;
       
    }


    .HeroSectionText {
        order: 2;
        margin: 0;
        padding: 1.5rem 0;
    }

    .HeroSectionText h3 {
        font-size: 1.2rem;
        width: 100%;
        padding: 0 1rem;
    }

    .HeroSectionText p {
        width: 100%;
        font-size: 0.8rem;
    }

    .featured-products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0.5rem;

    }

    .ImageComponent {
        width: 6rem;
        height: 2.5rem;
    }

    .product-card {
        width: 7rem;
        height: fit-content;
    }

    .productInfoContainer {
        font-size: 85%;
    }

    .FooterUpperContainer {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .FooterMediaInfo {
        order: 1;
      }
    
      .FooterContactSection {
        order: 2;
      }
    
      .FooterPaymentMethod {
        order: 3;
      }

      .FooterMediaInfo {
        gap: .2rem;
        width: 100%;
    }

    .FooterMedia {
        padding: .5rem;
    }

    .FooterMedia h3 {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .FooterMedia ul {
        font-size: 0.8rem;
    }

    .FooterContact {
        padding: 1rem;
        text-align: left;
    }

    .FooterContact p {
        font-size: 0.9rem;
        margin-bottom: .3rem;
    }

    .FooterContact input {
        padding: .3rem;
        margin: .5rem;
    }

    .FooterPaymentMethod {
        width: 10rem;
        font-size: 0.85rem;
        text-align: center;
    }

    .CartTitle {
        font-size: 0.8rem;
        margin: 1rem;
    }

    .Discount {
        text-align: left;
        margin: 1rem;
    }

    .PeopleBuy {
        font-size: .8rem;
        margin-left: 1rem;
    }
}
